{% extends "base.html" %}
{% load static %} 
    {% block style %}
<style>
  body {
     background: linear-gradient(#616161, black);
      color: white; /* Light text for contrast */
    font-family: 'Arial', sans-serif;
  }
.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh; /* Full height to center vertically */
}
.profile-card {
    background: white; /* Dark card background */
    color: black ; /* Text color */
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Soft shadow */
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin: auto; /* Center horizontally */
}

.btn-primary {
    background-color: #007bff;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none !important;
}

.btn-primary:hover {
    background-color: #009a75;
}
    </style>
   {% endblock style %}
   {% block content %}
    <body>
        <section class="profile-section">
            <div class="container">
                <div class="profile-card">
                  <div style="text-align: center; font-weight: bold; font-size: 24px; margin-bottom: 10px;">
                    PROFILE
                    <br><br>
                </div>
                    <div class="profile-details">
                        <p><strong>Firm Name:</strong> {{ user.profile.firm_name }}</p>
                        <p><strong>Full Name:</strong> {{ user.profile.full_name }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Phone:</strong> {{ user.profile.phone }}</p>
                        <p><strong>GST Number:</strong> {{ user.profile.GST_number }}</p>
                        <p><strong>Address:</strong> {{ user.profile.address }}</p>
                        <br><br>
                        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
    {% endblock content %}